/* 弹出层样式 */
.c-float-modePop{background-color:#FFF;}
.c-float-modePop .warnMsg{color:#fff;padding:10px 10px 10px 10px;}
.c-float-modePop .doBtn{margin:0 auto;width:170px;}
.c-float-modePop button{background:#3699dc;border:0;color:#949494;padding:6px 9px 6px 9px;}
.c-float-popWrap{border-radius:2px;overflow:hidden;position:absolute;width:260px;z-index:9999;}
.c-float-popWrap .c-float-modePop{background-color:#FFF;border-radius:2px;}
.c-float-popWrap .c-float-modePop .warnMsg{line-height:30px;font-size:14px;padding:0;}
.c-float-popWrap .c-float-modePop .content{margin-top:0px;}
.c-float-popWrap .c-float-modePop .doBtn{margin-top:10px;width:190px;}
.c-float-popWrap .c-float-modePop button{background:#3699dc;border:0 none;color:#FFF;font-size:14px;height:30px;line-height:30px;margin:10px 5px 0;padding:0;width:80px;}
.c-float-popWrap.hide{display:none;-webkit-box-shadow:none;}
.c-float-popWrap.show{display:block;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.3);}
.c-float-popWrap.msgMode .c-float-modePop .content,.c-float-popWrap.msgMode .c-float-modePop .doBtn{display:none;}
.c-float-popWrap.alertMode .c-float-modePop .content{display:none;}
.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel{display:none;}
.c-float-popWrap.confirmMode .c-float-modePop .content,.c-float-popWrap.confirmMode .c-float-modePop .doBtn{display:block;}
.pop-main-wrap{ top:0px; left:0px; width:100%; height:100%; background:rgba(51, 51, 51, 0.3); z-index:1000; position:fixed; }