<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>{{ title }}</title>
<link rel="stylesheet" href="../../static/css/m.min.css" type="text/css">
<script type="text/javascript" src="../../static/js/google_analysis.js"></script>
</head>
<body>
	<header>
		{{ title }}
        <a href="javascript:history.back();" class="icon-back"></a>
        <a class="icon-share" href="javascript:void(0)" id="J-share"></a>
		<a href="#" class="icon-code"></a>
	</header>
	<!-- banner begins -->
	<nav>
		<div class="swipe"  id="slider">
			<div class="swipe-wrap">
                {% for banner in banners %}
                    {% if banner.picture %}
                        <div><a href="{{ url_for('detail', tour_id=banner.id.__str__()) }}?mp.weixin.qq.com"><img src="{{ banner.picture.picture640_288 }}" /></a></div>
                    {% else %}
                        <div><a href="{{ url_for('detail', tour_id=banner.id.__str__()) }}?mp.weixin.qq.com"><img src="" /></a></div>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
		<div class="slidePosIndicator" id="featuredMobileInd">
			<a class="bullet active" href="#"></a>
			<a class="bullet" href="#"></a>
			<a class="bullet" href="#"></a>
			<a class="bullet" href="#"></a>
		</div>
	</nav>
	<!-- banner ends / -->

	<section>
		<ul class="index-list clearfix">
            {% for tour in tours %}
			<li>
				<a href="{{ url_for('detail', tour_id=tour.id.__str__()) }}?mp.weixin.qq.com">
					<i class="icon-new"></i>
                    {% if tour.picture %}
					<div class="pic-wrap"><img src="{{ tour.picture.picture286_170 }}" height="85"/></div>
                    {% else %}
                    <div class="pic-wrap"><img src="" height="85"/></div>
                    {% endif %}
					<dl class="tit">
                                {% if tour.title.__len__() > 13 %}
				         		<dt class="name">{{ tour.title[0:13] }}...</dt>
                                {% else %}
                                <dt class="name">{{ tour.title }}</dt>
                                {% endif %}
{#				          		<dd class="desc">{{ tour.intro }}</dd>#}
				          </dl>
                          {% if tour.discount %}
				          <p class="price">折扣价：<em>{{ tour.discount.__int__() }}</em>元起/人</p>
                          {% else %}
                          <p class="price">市场价：<em>{{ tour.price.__int__() }}</em>元起/人</p>
                          {% endif %}
				</a>
			</li>
            {% endfor %}
		</ul>
		<div class="banner">
			<img src="../../static/image/banner.png" alt="banner" />
		</div>
		<footer class="index-footer">
			<p>© 2013 淘旅游</p>
			<p>沪ICP备13009295号</p>
		</footer>
	</section>
	<script type="text/javascript" src="../../static/js/zepto.min.js"></script>
    <script type="text/javascript" src="../../static/js/notification.js"></script>
	<script type="text/javascript" src="../../static/js/swipe.js"></script>
	<script type="text/javascript" src="../../static/js/base.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		MZ.app.initIndex();
        MZ.app.detailInit();
	});
	</script>
</body>
</html>