<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>详情页</title>
<link rel="stylesheet" href="../../static/css/m.min.css" type="text/css">
</head>
<body>
	<header>
		折扣详情
		<!--<a href="javascript:void(0);" class="icon-home" onclick="history.back();"></a>-->
        <a href="/" class="icon-home"></a>
		<!--<a class="icon-share" href="javascript:void(0)" id="J-share"></a>-->
	</header>

	<section class="detail-wrap">
		<div class="deal-intro">
			<h3>{{ tour.title }}</h3>
			<div class="deal-stat">
				<img src={{ tour.picture[0].picture300_180 }} width="150" height="90" />
				<div class="deal-stat-cont">
					<p class="deal-price-num">原价：<em>{{ tour.price }}</em>元/每人</p>
                    {% if tour.discount %}
                    <p class="deal-price-num">折扣价：<em>{{ tour.discount }}</em>元/每人</p>
                    {% else %}
                    <p class="deal-price-num">折扣价：<em>{{ tour.price }}</em>元/每人</p>
                    {% endif %}
                    {% if tour.tel %}
					<a href="tel:{{ tour.tel }}" class="btn btn-large btn-oran">立即购买</a>
                    {% else %}
                    <a href="javascript:void(0)" class="btn btn-large btn-gray">立即购买</a>
                    {% endif %}
					<!-- <a href="#" class="btn btn-large btn-gray">已售罄</a> -->
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">折扣简介</div>
		        	<div class="panel-body">
		       		<p class="panel-p">{{ tour.intro }}</p>
		        	</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">折扣详情</div>
		        	<div class="panel-body">
		       		<p class="panel-p">{{ tour.detail }}</p>
		        	</div>
		</div>

<!--		<div class="panel panel-default">
			<div class="panel-heading">图片详情
				&lt;!&ndash;<a href="#" class="more">更多</a>&ndash;&gt;
			</div>
		        	<div class="panel-body">
		        		<ul class="pic-list">
                            {% for picture in tour.picture%}
                            <li><a href={{ picture.normal }}><img src={{ picture.picture176_160 }} height="100%" /></a></li>
                            {% endfor %}
		        		</ul>
		        	</div>
		</div>-->

		<div class="panel panel-default">
			<div class="panel-heading">相关折扣
                <!--<a href="#" class="more">更多</a>-->
            </div>
		        	<div class="list-group">
                        {% for relate in relates %}
                        <a href="{{ url_for('detail', tour_id=relate.id.__str__()) }}" class="list-group-item">{{ relate.title }}<span class="small-price">（<em>{{ relate.price }}</em>元/一个人）</span><i class="i-arrow i-arrow-right"></i></a>
                        {% endfor %}
                    </div>
			</div>
		</div>

	</section>

	<script type="text/javascript" src="../../static/js/zepto.min.js"></script>
	<script type="text/javascript" src="../../static/js/notification.js"></script>
	<script type="text/javascript" src="../../static/js/base.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		MZ.app.detailInit();
	});
	</script>
</body>
</html>