<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>首页</title>
<link rel="stylesheet" href="../../static/css/m.min.css" type="text/css">
</head>
<body>
	<header>
		智游折扣会
		<a href="#" class="icon-code"></a>
	</header>
	<!-- banner begins -->
	<nav>
		<div class="swipe"  id="slider">
			<div class="swipe-wrap">
                {% for banner in banners %}
                <div><a href="{{ url_for('detail', tour_id=banner.id.__str__()) }}"><img src="{{ banner.picture.picture640_288 }}" /></a></div>
                {% endfor %}
			</div>
		</div>
		<div class="slidePosIndicator" id="featuredMobileInd">
			<a class="bullet active" href="#"></a>
			<a class="bullet" href="#"></a>
			<a class="bullet" href="#"></a>
			<a class="bullet" href="#"></a>
		</div>
	</nav>
	<!-- banner ends / -->

	<section>
		<ul class="index-list clearfix">
            {% for tour in tours %}
			<li>
				<a href="{{ url_for('detail', tour_id=tour.id.__str__()) }}">
					<i class="icon-new"></i>
					<div class="pic-wrap"><img data-src="{{ tour.picture.picture286_170 }}" height="85"/></div>
					<dl class="tit">
				         		<dt class="name">{{ tour.title }}</dt>
				          		<dd class="desc">{{ tour.intro }}</dd>
				          </dl>
				          <p class="price"><em>{{ tour.price }}</em>元</p>
				</a>
			</li>
            {% endfor %}
		</ul>
	</section>
	<script type="text/javascript" src="../../static/js/zepto.min.js"></script>
	<script type="text/javascript" src="../../static/js/swipe.js"></script>
	<script type="text/javascript" src="../../static/js/base.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		MZ.app.initIndex();
	});
	</script>
</body>
</html>