<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>首页</title>
<link rel="stylesheet" href="../../static/css/m.min.css" type="text/css">
</head>
<body>
	<header>
		智游折扣会
		<a href="#" class="icon-code"></a>
	</header>
	<!-- banner begins -->
	<nav>
		<div class="swipe"  id="slider">
			<div class="swipe-wrap">
				<div><a href='#'><img src="../../static/image/role1.jpeg" alt="" /></a></div>
				<div><a href='#'><img src="../../static/image/role2.jpeg" alt="" /></a></div>
				<div><a href='#'><img src="../../static/image/role3.jpeg" alt="" /></a></div>
				<div><a href='#'><img src="../../static/image/role4.jpeg" alt="" /></a></div>
			</div>
		</div>
		<div class="slidePosIndicator" id="featuredMobileInd">
			<a class="bullet active" href="#"></a>
			<a class="bullet" href="#"></a>
			<a class="bullet" href="#"></a>
			<a class="bullet" href="#"></a>
		</div>
	</nav>
	<!-- banner ends / -->

	<section>
		<ul class="index-list clearfix">
			<li>
				<a href="#">
					<i class="icon-new"></i>
					<div class="pic-wrap"><img data-src="../../static/image/pic1.png" height="85"/></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic-wrap"><img data-src="../../static/image/pic2.png" height="85"/></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic-wrap"><img data-src="../../static/image/pic3.jpg" height="85" /></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-new"></i>
					<div class="pic-wrap"><img data-src="../../static/image/pic2.png" height="85"/></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic-wrap"><img data-src="../../static/image/pic3.jpg" height="85" /></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic-wrap"><img data-src="../../static/image/pic1.png" height="85"/></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic-wrap"><img data-src="../../static/image/pic3.jpg" height="85" /></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic-wrap"><img data-src="../../static/image/pic4.jpg" height="85"/></div>
					<dl class="tit">
				         		<dt class="name">飞利浦剃须刀</dt>
				          		<dd class="desc">飞利浦剃须刀首次折扣6折，抢啦～</dd>
				          </dl>
				          <p class="price"><em>3999</em>元</p>
				</a>
			</li>
		</ul>
	</section>
	<script type="text/javascript" src="../../static/js/zepto.min.js"></script>
	<script type="text/javascript" src="../../static/js/swipe.js"></script>
	<script type="text/javascript" src="../../static/js/base.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		MZ.app.initIndex();
	});
	</script>
</body>
</html>